
nav{
    background-color:aqua;
    color:rgb(80, 15, 15);
    padding:20px;
}
h1,h3,p{
    font-family:Arial, Helvetica, sans-serif;
    color:blueviolet;
}
form{
    background-color:beige;
}
table{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}
nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
nav ul li{
    display:inline;
    margin-right: 20px;
    
}
nav ul li a{
    color:black;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration:underline;
}
footer{
    background-color:aqua;
    color:brown;
    text-align:center;
    padding:10px 0;
}